html {
    font-family: 'Roboto', sans-serif;
}

.logo-Sony {
   width: 5rem;
}

.fa-bars {
    font-size: 2rem;
    color: #737373;
}

.menu {
    border: 1px solid lightgray;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}